<!-- app.component.html -->

<app-sidebar></app-sidebar>
<div *ngIf="loading==true">
    <app-loading></app-loading>

</div>
<div class="container">
    <div class="card">
      <h1 class="card-title">Send Meet Group Link</h1>
      <form (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="batchId">Batch:</label>
          <select id="batchId" name="batchId" [(ngModel)]="selectedBatchId" required>
            <option value="">Select Batch</option>
            <option *ngFor="let batch of batches" [value]="batch.batchId">{{ batch.batchId }}</option>
          </select>
        </div>

  
        <button type="submit">Delete</button>
      </form>
    </div>
  </div>
  