<ng-container *ngIf="showSidebar">
  <app-sidebar></app-sidebar>
</ng-container>
<div class="search-bar">
  <input type="text" [(ngModel)]="searchQuery" placeholder="Search students Name..." (input)="searchStudents()">
</div>
  

  <table class="student-table">
    <div *ngIf="loading==true">
      <app-loading></app-loading>
  
  </div>
    <thead>
      <tr>
        <th>User ID</th>
        <th>Name</th>
        <th *ngIf="amount">Amount</th>
        <th *ngIf="plan">Plan</th>
        <th *ngIf="activation">Activation</th>
        <th *ngIf="expiration">Expiration</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let get of students">
        <td>{{ get.usersub }}</td>
        <td>{{ get.name }}</td>
        <td *ngIf="amount">{{ get.amount }}</td>
        <td *ngIf="plan">{{ get.plan }}</td>
        <td *ngIf="activation">{{ get.activation }}</td>
        <td *ngIf="expiration">{{ get.expiration }}</td>
      </tr>
    </tbody>
  </table>